    <Context antiJARLocking="true" path="/datahub-webapp" docBase="${HYBRIS_BIN_DIR}/ext-integration/datahub/web-app/datahub-webapp-5.3.0.0-RC8.war" reloadable="true" >
    	<Loader className="org.apache.catalina.loader.VirtualWebappLoader" virtualClasspath="${HYBRIS_BIN_DIR}/ext-integration/datahub/extensions;${HYBRIS_BIN_DIR}/ext-integration/datahub/extensions/*.jar"/>
    </Context>
